/* START OF BASE VALUES */
$iris: #4d5ae5;
$ocean: #404bbf;
$navy-blue: #2e2f42;
$green: #31d0aa;
$slate: #434455;
$light-slate: #8e8f99;
$cornflower: #e7e9fc;
$cloud: #f4f4fd;
$navy-blue-modal: rgba(46, 47, 66, 0.4);
$grey: rgba(46, 47, 66, 0.7);
$white: #fff;
$dairy: #fcfcfc;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: $slate;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h2, h3 {
  color: $navy-blue;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden,
.nav-ul,
.header-address,
.project-section-image-description {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

@media (min-width: 320px) {
  /* START OF BASE VALUES  */

  .section {
    padding: 96px 0;
  }

  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  /* END OF BASE VALUES --- START OF GLOBAL STYLES*/

  .list-social-item {
    width: 40px;
    height: 40px;
  }

  .list-social-item-link {
    background-color: $iris;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-social-item-link-svg {
    fill: $cloud;
  }

  /* END OF GLOBAL STYLES --- START OF HEADER */

  .header {
    border-bottom: 1px solid $cornflower;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);

    .container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .mobile-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 149px;

    a {
      font-weight: 700;
      color: $navy-blue;
    }
  }

  .header-page-logo-studio {
    color: $iris;
  }

  .header-page-logo, .footer-page-logo {
    color: $iris;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
  }

  /* END OF HEADER --- START OF PREVIEW SECTION */

  .preview-section {
    padding: 72px 0 72px;
    background-image: linear-gradient(rgba($grey, 0.7), rgba($grey, 0.7)),
    url("../images/main_picture_mobile_1x.jpg");
    max-width: 320px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (min-resolution: 192dpi) {
    .preview-section {
      background-image: linear-gradient(rgba($grey, 0.7), rgba($grey, 0.7)),
      url("../images/main_picture_mobile_2x.jpg");
    }
  }

  .preview-section-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: $white;
    margin-bottom: 72px;
  }

  .preview-section-button {
    cursor: pointer;
    background: $iris;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: $white;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }

  /* END OF PREVIEW SECTION --- START OF OUR PRINCIPLES SECTION */
  .our-principles-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
  }

  .our-principles-list-item-img-wrapper {
    display: none;
  }

  .our-principles-section-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }

  .our-principles-section-p {
    font-weight: 500;
  }

  /* END OF OUR PRINCIPLES SECTION --- START OF OUR TEAM SECTION */

  .our-team-section {
    background-color: #F4F4FD;
  }

  .our-team-section-title {
    margin-bottom: 72px;
    text-align: center;
  }

  .our-team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
  }

  .our-team-list-item {
    background-color: $white;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      border-radius: 0 0 4px 4px;
    }
  }

  .our-team-list-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .our-team-section-wrapper {
    padding: 32px 0;
  }

  .our-team-section-subtitle {
    text-align: center;
    margin-bottom: 8px;
  }

  .our-team-section-p {
    text-align: center;
    margin-bottom: 8px;
  }

  /* END OF TEAM SECTION --- START OF PROJECT SECTION */
  .our-team-section-title,
  .project-section-title {
    text-align: center;
    text-transform: capitalize;
  }

  .project-section-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
  }

  .project-section-title {
    margin-bottom: 72px;
  }

  .project-section-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .project-section-wrapper {
    border-bottom: 1px solid $cornflower;
    border-left: 1px solid $cornflower;
    border-right: 1px solid $cornflower;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
  }

  .project-section-subtitle {
    margin-bottom: 8px;
  }

  /* END OF PROJECT SECTION --- START OF FOOTER */

  footer {
    background-color: $navy-blue;
  }

  .footer-page-logo-studio {
    color: $cloud;
  }

  .footer {
    padding: 100px 0;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 72px;
    }
  }
  .footer-content-wrapper,
  .footer-links-wrapper,
  .footer-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-page-logo {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-content-text {
    color: $cloud;
    max-width: 288px;
  }

  .footer-links-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $white;
    margin-bottom: 16px;
  }

  .footer-list-socials {
    display: flex;
    gap: 16px;
  }

  .footer-list-socials-item {
    width: 40px;
    height: 40px;
  }

  .footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $white;
    margin-bottom: 16px;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .footer-form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: $white;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid $white;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    outline: none;
    padding: 8px 0 8px 16px;
    background-color: transparent;

    &::placeholder {
      color: inherit;
      opacity: 0.6;
    }
  }

  .footer-form-button {
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: $white;
    cursor: pointer;
    background: $iris;
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-form-send-icon {
    fill: $white;
    margin-left: 16px;
  }

  /* END OF FOOTER --- START OF MODAL WINDOW */


  .modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
  }

  .modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    padding: 24px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-button-close,
  .mobile-button-close {
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cornflower;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-button-close-icon,
  .mobile-button-close-icon {
    fill: $navy-blue;
  }


  .modal-title {
    color: $navy-blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 16px;
  }

  .modal-group {
    margin-bottom: 8px;
  }

  .modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: $light-slate;
    flex-direction: column;
    display: block;
  }

  .modal-label:not(:last-child) {
    margin-bottom: 4px;
  }

  .modal-input-wrapper {
    position: relative;
  }

  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;

  }

  .modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .modal-input-textarea-wrapper {
    margin-bottom: 16px;
  }

  .modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
  }

  .modal-checkbox-wrapper {
    margin-bottom: 24px;
    display: flex;

  }

  .modal-checkbox-span {
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
  }

  .modal-checkbox-text {
    display: block;
    max-width: 231px;
  }

  .modal-acceptance-of-policy {
    display: flex;
    flex-direction: row;
  }

  .modal-checkbox:checked {
    & + .modal-label {
      .modal-checkbox-span {
        background-color: $ocean;
        border: none;
        fill: $cloud;
      }
    }
  }

  .modal-privacy-link {
    color: $iris;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  .modal-submit-button {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: $white;
    cursor: pointer;
    background: $iris;
    border: none;
  }

  /* END OF MODAL --- START OF MOBILE MENU */

  .mobile-menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-wrapper {
    padding: 24px 24px 40px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-button-close {
    background-color: transparent;
  }

  .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 48px;
  }

  .mobile-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: $navy-blue;
  }

  .mobile-list-link-active {
    color: $ocean;
  }

  .mobile-menu-info-block {
    margin-top: 168px;
  }

  .mobile-address {
    margin-bottom: 48px;
    font-style: normal;
  }

  .mobile-list-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-list-address-list-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $slate;
  }

  .mobile-list-address-list-item-link-phone {
    color: $iris;
  }

  .mobile-social-links-list {
    display: flex;
    gap: 40px;
  }
}

@media (min-width: 768px) {
  /* START OF BASE VALUES */

  .visible,
  .nav-ul,
  .header-address {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    padding: 0;
    white-space: normal;
    clip-path: none;
    clip: auto;
    overflow: visible;
  }

  .mobile-menu-button,
  .mobile-menu {
    display: none;
  }

  .container {
    max-width: 768px;
  }

  /* END OF BASE VALUES --- START OF GLOBAL VALUES */

  .our-principles-list,
  .our-team-list,
  .project-section-list {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }

  .our-principles-list-item,
  .our-team-list-item,
  .project-section-list-item {
    max-width: calc((100% - 24px) / 2);
  }

  /* END OF GLOBAL VALUES --- START OF HEADER */

  .header {
    .container {
      display: flex;
      justify-content: space-between;
      padding: 0 16px;
      align-items: center;
    }
  }

  .header-nav {
    gap: 120px;
    align-items: center;
  }

  .header-address {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .header-address-ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-a {
    color: inherit;
  }

  .nav-ul {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    li {
      width: calc((100% - 40px) / 3);
    }
  }

  .nav-ul {
    a {
      font-weight: inherit;
    }
  }

  .nav-link {
    display: block;
  }

  .nav-list-link {
    padding: 24px 0;
  }

  .nav-ul {
    .nav-list-link-active {
      color: $ocean;
      position: relative;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $ocean;
        bottom: -1px;
        left: 0;
        border-radius: 2px;
      }
    }
  }

  /* END OF HEADER --- START OF PREVIEW SECTION */

  .preview-section {
    background-image: linear-gradient(rgba($grey, 0.7), rgba($grey, 0.7)),
    url("../images/main_picture_tablet_1x.jpg");
    max-width: 768px;
    padding: 112px 136px;

    .container {
      padding: 0;
    }
  }

  @media (min-resolution: 192dpi) {
    .preview-section {
      background-image: linear-gradient(rgba($grey, 0.7), rgba($grey, 0.7)),
      url("../images/main_picture_tablet_2x.jpg");
    }
  }

  .preview-section-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
  }

  /* END OF PREVIEW SECTION --- START OF OUR PRINCIPLES SECTION */


  .our-principles-section-subtitle {
    text-align: left;
  }

  /* END OF OUR PRINCIPLES SECTION --- START OF OUR TEAM SECTION */

  .our-team-list {
    row-gap: 64px;
  }


  /* END OF OUR TEAM SECTION --- START OF PROJECT SECTION */

  .project-section-list-item {
    box-shadow: none;
  }


  /* END OF PROJECT SECTION --- START OF FOOTER */

  .footer {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 72px;
      column-gap: 24px;
      align-items: baseline;
    }
  }

  .footer-content-wrapper,
  .footer-links-wrapper,
  .footer-form-wrapper {
    display: block;
  }

  .footer-content-text {
    max-width: 264px;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
  }

  .footer-form-wrapper {
    margin-right: 43px;
  }

  /* END OF FOOTER --- START OF MODAL */

  .modal {
    width: 408px;
    padding: 24px;
    min-height: 584px;
  }

  .modal-checkbox-text {
    max-width: 338px;
    margin-top: 2px;
  }

  .modal-title {
    margin-top: 48px;
  }
}

@media (min-width: 1158px) {
  /* START OF BASE VALUES */
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding: 120px 0;
  }

  .header {
    .container {
      padding: 0 15px;
    }
  }

  /* END OF BASE VALUES --- START OF GLOBAL VALUES*/

  .header-address a,
  .nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-submit-button,
  .list-social-item-link,
  .footer-form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .project-section-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-button-close-icon,
  .mobile-button-close-icon,
  .modal-input-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input,
  .modal-textarea {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .preview-section-button,
  .modal-submit-button,
  .footer-form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $ocean;
    }

    &:focus {
      background-color: $ocean;
    }
  }

  /* END OF GLOBAL VALUES --- START OF HEADER */

  .header-address {
    font-size: 16px;
    line-height: 1.5;
  }

  .header-address-ul {
    flex-direction: row;
    gap: 40px;

    li {
      width: calc((100% - 40px) / 2);
    }
  }

  .header-nav {
    gap: 76px;
  }

  .nav-list-link,
  .header-address-a {
    &:hover {
      color: $ocean;
    }

    &:focus {
      color: $ocean;
    }
  }

  /* END OF HEADER --- START OF PREVIEW SECTION */

  .preview-section {
    background-image: linear-gradient(rgba($grey, 0.7), rgba($grey, 0.7)),
    url("../images/main_picture_desktop_1x.jpg");
    max-width: 1440px;
    padding: 188px 0 188px;

    .container {
      padding: 0;
    }
  }

  @media (min-resolution: 192dpi) {
    .preview-section {
      background-image: linear-gradient(rgba($grey, 0.7), rgba($grey, 0.7)),
      url("../images/main_picture_desktop_2x.jpg");
    }
  }

  .preview-section-title {
    margin-bottom: 48px;
  }


  /* END OF PREVIEW SECTION --- START OF OUR PRINCIPLES SECTION */

  .our-principles-list-item-img-wrapper {
    display: block;
  }

  .our-principles-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .our-principles-list-item {
    width: calc((100% - 24px) / 4);
  }

  .our-principles-section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .our-principles-section-p {
    font-weight: 400;
  }

  .our-principles-list-item-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cloud;
    border: 1px solid $light-slate;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
  }

  /* END OF OUR PRINCIPLES SECTION --- START OF OUR TEAM SECTION */

  .our-team-section {
    .list-social-item-link {
      &:hover, &:focus {
        background-color: $ocean;
      }
    }
  }

  /* END OF OUR TEAM SECTION --- START OF PROJECT SECTION */

  .project-section-list {
    row-gap: 48px;
  }

  .project-section-list-item {
    &:hover {
      box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
      0 1px 1px rgba(46, 47, 66, 0.16),
      0 2px 1px rgba(46, 47, 66, 0.08);
    }

    &:hover .project-section-image-description {
      transform: translateY(0%);
    }
  }
  .project-section-image-wrapper {
    position: relative;
    overflow: hidden;
  }

  /* TURN ON DESCRIPTION */

  .project-section-image-description {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    padding: 0;
    white-space: normal;
    clip-path: none;
    clip: auto;
    overflow: visible;
  }

  .project-section-image-description {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $cloud;
    padding: 40px 32px;
    background-color: $iris;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* END OF OUR PROJECT SECTION --- START OF FOOTER */

  .footer {
    padding: 100px 0;

    .container {
      flex-wrap: nowrap;
      gap: 0;
      justify-content: flex-start;
    }
  }

  .footer-content-wrapper {
    margin-right: 120px;
  }

  .footer-links-wrapper {
    margin-right: 80px;
  }

  .footer-form-input {
    opacity: 1;

    &:focus {
      border: 1px solid $iris;
    }

    &::placeholder {
      opacity: 1;
    }
  }

  .footer {
    .list-social-item-link {
      &:hover, &:focus {
        background-color: $green;
      }
    }
  }

  .footer-content-text {
    min-width: 264px;
  }

  /* END OF FOOTER --- START OF MODAL */

  .modal-button-close {
    &:hover {
      background-color: $ocean;
      border: none;
    }

    &:focus {
      background-color: #404bbf;
      border: none;
    }

    &:hover .modal-button-close-icon,
    &:focus .modal-button-close-icon {
      fill: $white;
    }
  }
  .modal-input {
    &:focus {
      border-color: $iris;
    }

    &:focus + .modal-input-icon {
      fill: $iris;
    }
  }
  .modal-textarea {
    &:focus {
      border-color: $iris;
    }
  }
}

/* END OF THE PROJECT */